@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

		body{
			font-family: 'Open Sans', sans-serif;
		}

		h4{
			line-height: 25px;
		}

		.main {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		.navbar {
			margin-bottom: 20px;
			border-radius: 0;
			background-color: #fff;
			padding: 1% 0;
			font-size: 1em;
			border: 0;
			font-family: 'Poppins', sans-serif;
			border-bottom: 1px solid #d6d6d6;

		}

		.navbar-logo {
			float: left;
			min-height: 55px;
			padding: 0 15px 5px;
		}

		.navbar-nav:hover{
			color: #85BF7E;
		}

		.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
			color: #439539;
			background-color: #fff;
		} 
		.navbar-inverse .navbar-nav li a{
			color:#000;
		}

		.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
			border-color: #DFDFDF;
		}

		.carousel-caption {
			top: 50%;
			transform: translateY(-50%);
			text-transform: uppercase;
		}

		.btn {
			font-size: 18px;
			color: #000;
			padding: 12px 22px;
			background: #e2e2e2;
		}

		#icon {
			max-width: 200px;
			margin: 1% auto;
		}

		.navbar-inverse .navbar-toggle .icon-bar{
			background-color: #000;
		}
		.navbar-inverse .navbar-toggle{
			border-radius: 0;
			border-color: transparent;
		}

		.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
			background-color: #fff;
		}

		footer {
			width: 100%;
			background-color: #F1F1F1;
			padding: 5px;
			color: #000;
			margin-top: 30px;
		}

		.fa {
			padding: 10px;
			font-size: 2em;
			color: #000;
		}

		.fa:hover {
			color: #D5D5D5;
			text-decoration: none;
		}

		.service-description { 
			text-align: left;
			padding-bottom:30px;
		}

		.sidebar {
			position:fixed;
		}

		.recent-updates{
			background-color: #D5D5D5;
		}

		.seminars{
			margin-right: 30px;
		}

		a:hover{
			color:#DFDFDF;
		}

		footer a {
			text-decoration: none;
			color: #464646;
		}

		footer a:hover {
			text-decoration: none;
			color: #DFDFDF;
		}

		#taxation{
			background-color: #623B3B;
		}


		.card .card-image{
		    overflow: hidden;
		    -webkit-transform-style: preserve-3d;
		    -moz-transform-style: preserve-3d;
		    -ms-transform-style: preserve-3d;
		    -o-transform-style: preserve-3d;
		    transform-style: preserve-3d;
		}


		.card{
		    margin-top: 10px;
		    position: relative;
		    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		}

		.card .card-content {
		    padding: 10px;    
		}

		.card .card-content .card-title, .card-reveal .card-title{
		    font-size: 24px;
		    font-weight: 200;    
		}

		.card .card-action{
		    padding: 20px;
		    border-top: 1px solid rgba(160, 160, 160, 0.2);
		}
		.card .card-action a{
		    font-size: 15px;
		    color: #ffab40;
		    text-transform:uppercase;
		    margin-right: 20px;    
		    -webkit-transition: color 0.3s ease;
		    -moz-transition: color 0.3s ease;
		    -o-transition: color 0.3s ease;
		    -ms-transition: color 0.3s ease;
		    transition: color 0.3s ease;
		}
		.card .card-action a:hover{    
		    color:#ffd8a6;
		    text-decoration:none;
		}

		.card .card-reveal{    
		    padding: 20px;
		    position: absolute;
		    background-color: #FFF;
		    width: 100%;
		    overflow-y: auto;
		    /*top: 0;*/
		    left:0;
		    bottom:0;
		    height: 100%;
		    z-index: 1;
		    display: none;    
		}

		.card .card-reveal p{
		    color: rgba(0, 0, 0, 0.71);
		    margin:20px ;
		}

		.btn-custom{
		    background-color: transparent;
		    font-size:18px;
		}


		@media (max-width: 900px) {
			.fa {
				font-size: 20px;
				padding: 10px;
			}
		}

		/* mobile versions: */
		@media (max-width: 992px) {
			.carousel-caption { /*caption will not display on mobile*/
				display: none;
			}

			#icon {
				max-width: 150px;
			}

			h4 {
				font-size: 1.7em;
			}

			h2{ 
				font-size: 2.5em;
			}

			.fa {
				display: none;
			}

			.seminars{
			margin-right: 0px;
		}
		}
	